---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on 
  <a href="{{site.author.googlescholar}}" target="_blank" rel="noopener noreferrer">
    my Google Scholar profile
  </a>.
</div>
{% endif %}

<h2>Selected Publications</h2>
<ul>
  <li>da Silva, A. V. R., Cunha, I. D. C. M., <strong>Pellegrinetti, T. A.</strong>, Boleta, E. H. M., Zagatto, L. F. G., Zagatto, S. D. S. S., ... & Mendes, L. W. (2025). Functional adaptations of the rhizosphere microbiome for drought-tolerance promotion in common bean. Plant Stress, 100860.</li>
  <li>Passos, G. S., <strong>Pellegrinetti, T. A.</strong>, & Fiore, M. F. (2025). Metagenome-assembled bacterial genomes from long accurate reads associated with <i>Capilliphycus salinus</i> ALCB114379. <i>Microbiology Resource Announcements</i>, e00807-24.</li>
  <li>Fonseca de Souza, L., Oliveira, H. G., <strong>Pellegrinetti, T. A.</strong>, Mendes, L. W., et al. (2025). Co-inoculation with <i>Bacillus thuringiensis</i> RZ2MS9 and rhizobia improves the soybean development and modulates soil functional diversity. <i>FEMS Microbiology Ecology</i>, 101(2), fiaf013.</li>
  <li>Martins, G. L., <strong>Pellegrinetti, T. A.</strong>, de Freitas, A. S., et al. (2024). Differential effects of fresh and composted organic wastes on soil bacterial community and maize growth. <i>Applied Soil Ecology</i>, 204, 105715.</li>
  <li><strong>Pellegrinetti, T. A.</strong>, Cotta, S. R., Feitosa, Y. B., et al. (2024). The role of microbial communities in biogeochemical cycles and greenhouse gas emissions within tropical soda lakes. <i>Science of The Total Environment</i>, 947, 174646.</li>
  <li>Singh, S., Pereira, A. P. D. A., <strong>Pellegrinetti, T. A.</strong>, & Verma, J. P. (2024). Draft genome sequence of cellulose-degrading <i>Bacillus stercoris</i> BHUJPV-SS7. <i>Microbiology Resource Announcements</i>, 13(9), e01072-23.</li>
  <li>Freitas, A. S. D., Zagatto, L. F. G., Rocha, G. S., <strong>Pellegrinetti, T. A.</strong>, et al. (2024). Bacterial genomes recovered from litter’s metagenomes in Amazonian Dark Earths. <i>Microbiology Resource Announcements</i>, e00422-24.</li>
  <li><strong>Pellegrinetti, T. A.</strong>, Monteiro, G. G. T. N., Lemos, L. N., et al. (2024). PGPg_finder: A comprehensive and user-friendly pipeline for identifying plant growth-promoting genes. <i>Rhizosphere</i>, 100905.</li>
  <li>da Cunha, I. D. C. M., da Silva, A. V. R., Boleta, E. H. M., <strong>Pellegrinetti, T. A.</strong>, et al. (2024). Inoculation of PGPR and impact on rhizosphere microbiome and plant phenotype. <i>Microbiological Research</i>, 283, 127706.</li>
  <li><strong>Pellegrinetti, T. A.</strong>, de Cássia Mesquita da Cunha, I., Chaves, M. G. D., et al. (2024). Genomic insights of <i>Fictibacillus terranigra</i> sp. nov. from Amazonian Dark Earths. <i>Brazilian Journal of Microbiology</i>, 1-12.</li>
  <li><strong>Pellegrinetti, T. A.</strong>, Cunha, I. D. C. M. D., Chaves, M. G. D., et al. (2023). Draft genome sequences of strains from Amazonian dark earth. <i>Microbiology Resource Announcements</i>, 12(11), e00574-23.</li>
  <li>Viana, J. L. M., Steffler, D. A., Hernández, A. H., <strong>Pellegrinetti, T. A.</strong>, et al. (2023). Arsenic in plankton from tropical soda lakes. <i>Science of The Total Environment</i>, 165189. DOI: 10.1016/j.scitotenv.2023.165189.</li>
  <li><strong>Pellegrinetti, T. A.</strong>, Cotta, S. R., Sarmento, H., et al. (2023). Bacterial communities along gradients in soda lakes. <i>Microbial Ecology</i>, 85(3), 892–903.</li>
  <li>Cotta, S. R., <strong>Pellegrinetti, T. A.</strong>, Andreote, A. P. D., et al. (2022). Bacterial lifestyles in soda lakes. <i>Scientific Reports</i>, 12, 7939.</li>
  <li>Delbaje, E., Andreote, A. P. D., <strong>Pellegrinetti, T. A.</strong>, et al. (2021). Phylogenomics of <i>Anabaenopsis elenkinii</i>. <i>International Journal of Systematic and Evolutionary Microbiology</i>, 71(2), 004648.</li>
  <li>Morais, M. C., <strong>Pellegrinetti, T. A.</strong>, Sturion, L. C., et al. (2018). Maize presence in Brazilian soy sauces. <i>Journal of Food Composition and Analysis</i>, 70, 18–21.</li>
</ul>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



